@charset "utf-8";
/* CSS Document */


/*	請將first 裡的 jumbotron class 的高度設定為 50vh。*/
#first .jumbotron{
	

	height: 70vh;
	
}


/*	請將first 裡的 h1 標籤的文字顏色為 brown。*/
#first h1{
	color:brown;

	/* -6 */
	
}

#introfirst img
{
	
	/* D-5 */
width:300px;
	

}


#introsecond img
{
	
	/* D-5 */
width:300px;
	

}
#introsecond a{
	padding-decortion:none;
	color:gray;}

#introsecond {
	
	padding-top: 100px;
	padding-bottom: 80px;
}

#accordionExample img{
	border-radius:25px;
}

.accordion{
	
	max-width:400px;
	box-shadow:0 0 10px rgba( 23,45,67,0.2);
	border-radius:5px;
	overflow:hidden;
	font-family:"Quicksand", sans-serif;
}

.bodybg{
	color:white;
    background-color:cadetblue;
}




#QAfirst{
	margin-top:80px;
	margin-left:100px;
}

#locaction{
	margin-top:80px;
	margin-left:100px;
}
